.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: pink;
  flex-direction: column;
}

.message h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: pop-up 1.5s ease-in-out;
}


@keyframes pop-up {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
