
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: pink;
}


.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: pink;
  height: auto; 
  width: 100%;
  position: relative;
  bottom: 10;
  overflow: hidden;
}


.footer-img {
  max-height: 100px;
  width: 100%; 
  object-fit: cover;
}
