body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: #3d3d3d;
}

.banner img {
  width: 100%;
  height: auto;
}

.message h1 {
  color: #06ca06; 
}

.gallery img {
  width: 200px;
  height: auto;
  margin: 10px;
}
  
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
  z-index: 0;
}

.bubbles span {
  position: relative;
  width: 15px;
  height: 15px;
  background: rgb(255, 114, 220);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(253, 143, 226, 0.801),  
  0 0 50px rgb(0, 2, 128),  
  0 0 100px rgba(0, 128, 128, 0.445);
  animation: animate 15s linear infinite;
  animation-duration: calc(150s / var(--i));
}

.bubbles span:nth-child(even) {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.815), 0 0 50px rgba(194, 255, 194, 0.288), 0 0 100px rgba(237, 252, 237, 0.37);
}

@keyframes animate{
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(.7);
  }
}

.content {
  z-index: 300;
  align-items: center;
  width: 100%;
  height: 100%;
}